.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    width: 100px;
    height: 100px;
    background: rgb(25, 0, 255);
    border-radius: 50%;
    border: 2px solid rgb(96, 231, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: verdana;
    float: left;
    margin: 30px;
    text-shadow: 1px 1px black;
    box-shadow: 0px 0px 72px -9px rgba(26, 53, 255, 0.75);
}